@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    margin: 0;
    padding: 0;
}

::selection {
	background-color: rgba(0, 190, 240, 0.5);
	color: #000000;
}

/* PC */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.3em;
        font-family: Inter, Meiryo, sans-serif;
        margin: 0;
        overflow: hidden;
    }

    main {
        background-color: rgb(245, 223, 77);
        border: solid 3vw white;
        padding: 2vw 3vw 3vw 3vw;
        height: 83vh;
    }
}
/* タブレット */
@media only screen and (min-width: 767px) and (max-width: 1280px) {
    body {
        font-size: 1.1em;
        font-family: Inter, Meiryo, sans-serif;
        margin: 0;
        overflow: hidden;
    }

    main {
        background-color: rgb(245, 223, 77);
        border: solid 5vw white;
        padding: 6vw;
        height: 83vh;
    }
}
/* スマホ */
@media screen and (max-width: 767px) {
    body {
        font-size: 1em;
        font-family: Inter, Meiryo, sans-serif;
        margin: 0;
        overflow: hidden;
    }

    main {
        background-color: rgb(245, 223, 77);
        border: solid 5vw white;
        padding: 6vw;
        height: 84vh;
    }
}

h1 {
    font-size: 2em;
    margin-bottom: 0.1em;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 0.1em;
}

section#explain {
    margin-bottom: 1em;
    text-align: center;
}

section#explain h1 {
    text-align: center;
}

section#explain div {
    display: table-cell;
    width: 100vw;
}

.memo {
    font-size: 0.8em;
}

section#form {
    margin-top: 1em;
    margin-bottom: 1em;
}

section#passForm {
    padding-top: 2.5em;
    border-top: solid 0.25em white;
}

#memoButton {
    font-size: 0.8em;
}

section#formButton {
    text-align: center;
    padding-top: 1.5em;
}

input[type="text"], input[type="password"] {
    -webkit-appearance: none;
    font-size: 1em;
    font-family: Inter, Meiryo, sans-serif;
    margin-top: 0.6em;
    padding: 0.5em 1.2em;
    width: 67vw;
    border: solid 0.1em rgb(147, 149, 151);
    border-radius: 2em;
    outline: none;
}

/* PC */
@media screen and (min-width: 768px) {
    input[type="text"], input[type="password"] {
        width: 84vw;
    }
}
/* タブレット */
@media only screen and (min-width: 767px) and (max-width: 1280px) {
    input[type="text"], input[type="password"] {
        width: 73vw;
    }
}

input[type="button"] {
    -webkit-appearance: none;
    font-size: 1.75em;
    border-radius: 0.75em;
    padding: 0.2em;
    margin-top: 0.3em;
    margin-bottom: 0.25em;
    width: 7em;
    font-weight: bold;
    color: white;
    background-color: rgb(88, 77, 2);
    border: solid 0.2em white;
    outline: none
}

input[type="button"]:hover {
    background-color: rgb(70, 62, 2);
}

#loginMessage {
    height: 3em;
    width: 100vw;
    display: table-cell;
    vertical-align: bottom;
}

p#authed {
    margin-bottom: 0.5em;
    color: green;
}

p.cameraMemo {
    margin-bottom: 1em;
}

h1#cameraBlocked {
    color: red;
}

section#arExplain {
    padding: 0.5em;
    font-size: 2em;
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2021;
}